<div class="header-block">
  <h4 class="header-block__title">Бригадир Склада</h4>
  <div class="header-block__date">{{newDate | date: 'medium'}}</div>
</div>
<div class="container">
  <div class="left-bar">
    <h5 style="text-align: center; margin: 0px 0px 20px 0px;">На Колесах</h5>
    <dx-data-grid [columnAutoWidth]="true" #grid id="gridContainer" [dataSource]="invoiceListData" keyExpr="number"
      [hoverStateEnabled]="true" [showBorders]="true" (onContentReady)="contentReady($event)"
      (onRowClick)="filterTable($event)">
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-selection mode="single"></dxo-selection>
      <dxi-column dataField="number" caption="No п/п" [width]="60" [allowFiltering]="false" [fixed]="true"
        alignment="center">
        <dxi-validation-rule type="pattern" [pattern]="pattern" alignment="center"></dxi-validation-rule>
      </dxi-column>
      <dxi-column dataField="invoiceNumber" caption="No Накладной" [allowFiltering]="true" filterType="include"
        alignment="center">
      </dxi-column>
      <dxi-column dataField="startAndUpdateDate" caption="Дата соз./обн." dataType="date" [allowFiltering]="false"
        alignment="center">
      </dxi-column>
    </dx-data-grid>
  </div>
  <div class="right-bar">
    <h5 style="text-align: center;  margin: 0px 0px 20px 0px;">Накладная No {{invoiceNumber}} </h5>
    <app-invoice-number [invoiceTable]="invoiceTableData"></app-invoice-number>
  </div>
</div>